* {
  font-family: "Avenir", sans-serif;
}

/* quand l'écran est plus petit que 650px */
@media screen and (max-width: 650px) {
  .login {
    display: none;
  }

  select {
    width: 100%;
    margin: 0;
  }

  .filter {
    display: none;
  }

  .filtertel {
    display: flex;
  }

  .filter_by {
    display: none;
  }

  .range_price {
    display: none;
  }

  footer .num_delete {
    display: none;
  }
  .num {
    margin-left: 40px;
  }

  .best_match {
    display: none;
  }
}

/* quand l'écran est plus grand que 651px */
@media screen and (min-width: 650px) {
  .liste_header {
    display: flex;
  }
  footer .num_delete {
    display: flex;
  }
  .liste_footer {
    gap: 1.5%;
  }

  .deroulant {
    display: none;
  }

  .match {
    display: none;
  }
}

/* gestion padding de login */
@media screen and (min-width: 651px), screen and(max-width: 1100px) {
  .nav_droite {
    padding-right: 4%;
  }
}

/* gestion icon burger et croix */
#icons_head {
  cursor: pointer;
  display: none;
  font-size: 50px; /* Taille des icons*/
}

/* création d'un média pour faire apparaitre une croix ou un burger  */
@media screen and (max-width: 650px) {
  #icons_head {
    display: block;
    margin-right: 50px;
  }
  #icons_head:before {
    content: "\2630"; /*Créer un burger */
  }

  .active_menu #icons_head:before {
    /* Je créer une class active_menu ds le js que j'enlève ensuite. */
    content: "\2715"; /*Quand cette classe est présente cela affiche une croix, le code 2715 est un code html qui représente une croix */
  }

  .active_menu ul {
    margin: 0;
    left: 0;
    z-index: -1;

    /* Quand cette classe est présente cela décale le menu à 0, le menu on le décale de -1000% pour le faire "disparaître"*/
  }

  header nav ul {
    display: flex;
    position: fixed; /*Pour positionner où on veut*/
    left: -2000%;
    top: 0;
    flex-direction: column;
    background-color: #1c1c1c;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.25s;
  }

  header nav a {
    color: white;
    margin-top: 30px;
    padding-bottom: 30px;
  }
}

li {
  list-style: none;
}

.liste_header {
  justify-content: space-around;
  align-items: center;
  margin-left: 15%;
}

header li {
  margin-right: 15%;
}

.left_header {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.div_header {
  display: flex;
  justify-content: space-between;
}

.nav_droite {
  display: flex;
  align-items: center;
}

.nav_droite .cart {
  margin-right: 40%;
  height: 32px;
  width: 32px;
}

.nav_gauche {
  display: flex;
}

header .search {
  display: flex;
  margin-bottom: 4%;
  justify-content: space-between;
}

.loop_center {
  display: flex;
  text-align: center;
  padding-top: 15px;
  margin-right: 25px;
}

.search_gauche {
  display: flex;
}

.search_droite {
  display: flex;
  width: 80%;
}

.loop {
  display: flex;
  text-align: center;
  height: 40px;
  width: 40px;
  margin-right: 15px;
  margin-left: 20px;
}

.input_search {
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  width: 95%;
  font-size: 20px;
  font-weight: bold;
}

.chevron_droite {
  display: flex;
  align-items: center;
}

.best_match {
  border: 0px;
  outline: 0; /* enlève la bordure quand on clique sur la box*/
  width: 420px;
  font-size: 20px;
  border-bottom: 2px solid #e8e8e8;
}

.match {
  border: 0px;
  outline: 0; /* enlève la bordure quand on clique sur la box*/
  width: 90%;
  font-size: 20px;
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.filter {
  border: 0px;
  outline: 0; /* enlève la bordure quand on clique sur la box*/
  width: 100%;
  font-size: 20px;
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.price_range {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 40px;
}

.filtertel {
  border: 0px;
  outline: 0; /* enlève la bordure quand on clique sur la box*/
  width: 100%;
  font-size: 20px;
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.deroulant {
  border: 0px;
  outline: 0; /* enlève la bordure quand on clique sur la box*/
  width: 100%;
  font-size: 20px;
  text-align: start;
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 40px;
  z-index: 10000;
}

nav {
  background-color: white;
  position: sticky;
  top: 0px;
}

nav ul li {
  width: 90%;
  text-align: center;
  position: relative;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .sous {
  display: block;
}
.sous li {
  float: none;
  width: 100%;
  text-align: left;
}
.sous a {
  padding: 10px;
  border-bottom: none;
}
.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}
.deroulant > a::after {
  content: "﹀";
  justify-content: right;
  font-size: 12px;
}

.conteneur {
  margin: 50px 20px;
  height: 1500px;
}

/* Création du grid*/
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.img {
  width: 100%;
}
header nav {
  font-weight: bold;
}

/* texte gauche droite */

.filter_by {
  color: #b1b1b3;
  margin-bottom: 50px;
  margin-top: 0;
}

.price {
  float: right;
}

.texte {
  float: left;
}

.prix {
  float: right;
}

/* item par item  */

.nom {
  font-weight: bold;
}

.type {
  font-size: x-small;
  color: #b1b1b3;
}

.stars {
  width: 50%;
}

.add_cart {
  width: 28px;
  float: right;
}

.droite {
  float: right;
  font-size: x-large;
}

.price-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.range-slider {
  width: 100%;
  position: relative;
  margin: 15px 0 30px 0;
}

input[type="range"] {
  /* -webkit-appearance: none; */
  width: 100%;
  position: absolute;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #000;
  background-color: white;
  background-image: url(img/icons_sprite.svg);
  cursor: pointer;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #e8e8e8;
  border-radius: 3px;
  border: none;
}

.liste_footer {
  display: flex;
  padding: 0;
}
footer a {
  display: flex;
  place-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
}

footer a:hover {
  background-color: black;
  color: white;
}

footer {
  margin-top: 70px;
}

.input {
  width: 200%;
}

.num_active {
  color: white;
  background-color: black;
}